/* БУТОН ЗА ИЗТЕГЛЯНЕ - ЗЕЛЕН */
.button-download { 
    background: white;
    color: #28a745;
    padding: 18px;
    text-align: center;
    border-radius: 8px;
    margin: 15px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #28a745;
    transition: all 0.3s;
    display: block;
    width: 100%;
    box-sizing: border-box;
}
.button-download:hover { 
    background: #28a745;
    color: white;
}
